<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="../css/home.css"/> 
  </head>
  <body>
    <%- include("../partials/header"); %>
    <main class="main__home">
      <div class="main__home__div">
        <h1 class="h1__funcionario">Gerar relatório</h1>
        <form action="/admin/gerarRelatorio" method="post" class="forms">
          <input type="submit" class="forms-input" value="Gerar novo relatório">
        </form>
      </div>
      <h1 class="h1__funcionario">Relatórios</h1>
      <table class="tabela__funcionario" border="1">
        <thead>
        <tr>
            <th>Matrícula</th>
            <th>Funcionário</th>
            <th>Função</th>
            <th>Setor</th>
            <th>CPF</th>
            <th>Carga Horaria Semanal</th>
            <th>Horas pagas</th>
            <th>Última Entrada</th>
            <th>Última Saída</th>
            <th>Editar</th>
            <th>Ativo</th>
        </tr>
        </thead>
        <tbody>
          <td>000000</td>
          <td>Gabriel</td>
          <td>Programador</td>
          <td>01</td>
          <td>000.000.000-83</td>
          <td>44h</td>
          <td>10h</td>
          <td>14/02/2023 08:00h</td>
          <td>14/02/2023 18:00h</td>
          <td><a href="#">Alterar</a></td>
          <td>Não</td> 

        </tbody>
     </table>
    </main>
  </body>
</html>
