<header class="header">
    <nav class="header__nav">
     <a href="/funcionario/home"><img class="header__nav__ul-image" src="/assets/esse2.png" alt="Logo"></a>
        <ul class="header__nav__ul">
            <li><a href="/funcionario/home">Início</a></li>
            <!-- <li><a href="/funcionario/relatorios">Relatórios</a></li>     -->
            <li><a href="/logout">Sair</a></li>      
        </ul>
    </nav>
</header>