<div class="header">
    <nav class="header__nav">
     <a href="/admin/home"><img class="header__nav__ul-image" src="https://img.freepik.com/vetores-gratis/vetor-de-logotipo-de-empresa-editavel-com-palavra-astrotech_53876-110949.jpg?w=996&t=st=1676399860~exp=1676400460~hmac=7de1dde7b10c6e1ab9cb772430524814ab7efc1fe7f781b7414cfd99c1e0c473" alt="Logo"></a>
        <ul class="header__nav__ul">
            <li><a href="/admin/home">Inicio</a></li>
            <li><a href="/admin/cadastrofuncionario">Cadastrar funcionário</a></li>
            <li><a href="/admin/alterardados">Alterar dados</a></li>
            <li><a href="/admin/relatorios">Relatórios</a></li>           
        </ul>
    </nav>
</div>