<div class="header">
    <nav class="header__nav">
     <a href="/admin/home"><img class="header__nav__ul-image" src="/assets/esse2.png" alt="Logo"></a>
        <ul class="header__nav__ul">
            <li><a href="/admin/home">Inicio</a></li>
            <li><a href="/admin/cadastrofuncionario">Cadastrar funcionário</a></li>
            <li><a href="/admin/alterardados">Alterar dados</a></li>
            <li><a href="/admin/relatorios">Relatórios</a></li>           
        </ul>
    </nav>
</div>