<div class="pagina__inicial">
    <div class="mostrar__logo">           
      <div class="mostrar__logo-horario">
        <div class="time__home">
        <img src="/assets/logo-branca.png" alt="Logo">
          <div class="borda">
            <time id="dia"></time>
          </div>
          <div class="time">
            <time id="time"></time>
          </div>
        </div>
      </div>
</div>
        
