<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <main>
        <form action="/criarnovousuario" method="post">
            <label for="email">Insira seu email: </label>
            <input name="email" id="email" type="email">
            <label for="senha">Insira sua senha: </label>
            <input type="password" name="senha" id="senha">
                
        <input type="submit" value="Criar conta">
        </form>


    </main>
    
</body>
</html>