<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="./css/pagina-inicial.css" />
  </head>
  <body>
    <%if(mensagem.length > 0){ %>
    <div class="alert danger">
      <p><b><%= mensagem; %></b></p>
    </div>
    <%} %>
    <main>
      <%- include("./partials/tempo"); %>
      <div class="forms__inicio">
        <div>
          <a href="/">Voltar</a>
          <h2>Esqueceu a senha?</h2>
        </div>
        <form action="/envioSenha" method="post" class="forms">
          <label for="email">Email:</label>
          <input name="email" id="email" type="email" required />
          <br />
          <input type="submit" value="Solicitar" />
        </form>
      </div>
    </main>
    <script src="./js/refreshTime.js"></script>
  </body>
</html>
