<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="./css/reset.css"/>
    <link rel="stylesheet" href="./css/main.css"/>
    <link rel="stylesheet" href="./css/pagina-inicial.css"/> 
  </head>
  <body>
    <main>
        <div class="pagina__inicial">
          <div class="mostrar__logo">
            <div class="mostrar__logo-horario">
              <div class="time__home">
                <div class="borda">
                  <time id="dia"></time>
                </div>
                <div class="time">
                  <time id="time"></time>
                </div>
              </div>
            </div>
          </div>
          <div class="forms__inicio">
            <div>
                <a href="/">Voltar</a>
                <h2>Esqueceu a senha?</h2>
            </div>
            <form action="/esquecisenha" method="post" class="forms">
              <label for="email">Email:</label>
              <input name="email" id="email" type="email" required/>
              <br>
              <input type="submit" value="Enviar" />
            </form>           
          </div>
        </div>       
    </main>Esqueceu a senha?
    <script src="./js/refreshTime.js"></script>
  </body>
</html>
