<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="./css/reset.css"/>
    <link rel="stylesheet" href="./css/main.css"/>
    <link rel="stylesheet" href="./css/pagina-inicial.css"/> 
  </head>
  <body>
    <main>
      <%if(erros.length > 0){ %>
      <div class="alert danger">       
        <p><b><% for(erro of erros) {%> <%= erro.error %> <% } %></b></p>       
      </div>
      <%} %>
      <%if(qtdUsuarios!=0) { %> 
        <div class="pagina__inicial">
          <div class="mostrar__logo">
            <div class="mostrar__logo-horario">
              <div class="time__home">
                <div class="borda">
                  <time id="dia"></time>
                </div>
                <div class="time">
                  <time id="time"></time>
                </div>
              </div>
            </div>
          </div>
          <div class="forms__inicio">
            <h3>Login</h3>
            <form action="/login" method="post" class="forms">
              <label for="email">Email:</label>
              <input name="email" id="email" type="email" required/>
              <label for="senha">Senha:</label>
              <input name="senha" id="senha" type="password" required/>
              <br>
              <input type="submit" value="Entrar" />
            </form>           
            <small><a href="/esqueci-senha">Esqueceu a senha?</a></small>
          </div>
        </div>       
        
        <%}else {%> 
            <div class="pagina__inicial">
                <div class="mostrar__logo">
                  <div class="mostrar__logo-horario">
                    <div class="time__home">
                      <div class="borda">
                        <time id="dia"></time>
                      </div>
                      <div class="time">
                        <time id="time"></time>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="forms__inicio">
                    <h3>Criar conta</h3>
                    <form action="/criarUsuario" method="post" class="forms">
                        <label for="email">Insira seu email: </label>
                        <input name="email" id="email" type="email" required>
                        <label for="senha">Insira sua senha: </label>
                        <input type="password" name="senha" id="senha" required>
                        <br>                   
                        <input type="submit" value="Criar conta">
                    </form>                  
                </div>
              </div>  
            <% }      
        %>
    </main>
    <script src="./js/main.js"></script>
  </body>
</html>
