.main__home{
    height: calc(100vh - 8.38em);
}
.tabela__funcionario{
    margin: 5px 10px 0 10px;
    width: calc(100% - 20px);
    text-align: center;
}
.h1__funcionario{
    margin-top: 4rem;
    margin-left: .8rem;
}