/*pagina__inicial */
.pagina__inicial {
    display: flex;
    height: 100vh;
  }
  .forms__inicio{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    padding: 0 5%;
    width: 70%;
  }
  .mostrar__logo{   
    background-color: var(--var-cor-1);
    display: flex;
    flex-direction: column;
    width: 25%;
    color: var(--var-cor-background);
  }
  .mostrar__logo-horario{
    display: flex;
    flex-direction: column;
    align-items: center;  
  }
  
  .time__home{
    text-align: center;
    margin-top: 65%;
  }
  .time__home time {
    font-size: 1.6em;
    font-weight: bold;
  }
  .time__home img {
    height: 3rem;
    margin-bottom: 30px;
  }
  .forms{
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-bottom: 1.6rem;
  }
  
  .forms input[type="submit"]{
    padding: .3rem;
  }
  /*Fim da pagina__inicial*/
  