.main__home__div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 2rem;
}
.forms{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 1.6rem;
}
.forms-input{
    height: 30px;
}