<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="../css/home.css"/> 
    <link rel="stylesheet" href="../css/homeFuncionario.css"/> 
    <script src="../js/buttonDisable.js"></script>
  </head>
  <body>
    <%- include("../partials/headerFuncionario"); %>
    <main class="main__home">
      <% if (presenca == 0 ) { %>
      <div class="forms__inicio forms">
        <h2>Registro de presença</h2>
        <form action="/funcionario/registraPonto" method="post" class="forms">
          <input class="forms__inicio__botao" type="submit" value="Entrar" />
        </form>           
      </div>
    </div>
    <% }else if (presenca == 1 ) {%>          
      <div class="forms__inicio forms">
        <h2>Registro de presença</h2>
        <form action="/funcionario/registraPonto" method="post" class="forms">
          <input class="forms__inicio__botao" type="submit" value="Sair" />
        </form>           
      </div>
    </div>
      <%} else if (presenca == 2) {%> 
        <div class="forms__inicio forms">
          <h2>Registro de presença</h2>
          <form action="/funcionario/registraPonto" method="post" class="forms">
            <input class="forms__inicio__botao" type="submit" id='submit' value="Parabéns! Você finalizou o seu dia." disabled/>
          </form>           
        </div>
      </div>
        <%} %>       
    </main>
  </body>
</html>
